# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: Python application

on:
  push:
    branches: [ "master" ]
  

permissions:
  contents: read

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python 3.10
      uses: actions/setup-python@v3
      with:
        python-version: "3.10"
    - name: Install dependencies
      run: |
      
        python -m pip install --upgrade pip
        pip install scikit-learn flake8 pytest black isort
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
    - name : init dvc 
      run: |
          pip install dvc
    - name: Pull dataset
      run: dvc pull 
    - name: verify dependencies
      run: |
        pip list
    -  name: run train
       run: |
        python train.py
        echo "###########metrics############"
        cat reports/metrics.txt
       
    - name: Lint with flake8
      run: |
        # stop the build if there are Python syntax errors or undefined names
        flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
        # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
        flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics
        - name: Lint with flake8
    - name: format with black and isort
      run: |
        black .
        isort .
    - name: Test with pytest
      run: |
        pytest
